<div class="d-flex flex-column justify-content-start align-items-start">
  <button class="btn btn-danger m-4" (click)="get404()">Get 404</button>
  <button class="btn btn-danger m-4" (click)="get500()">Get 500</button>
  <button class="btn btn-danger m-4" (click)="get400Validation()">
    400Validation
  </button>
  <button class="btn btn-danger m-4" (click)="get400()">Get 400</button>
</div>

<div class="row mt-4" *ngIf="validationErrors">
  <ul class="text-danger">
    <li *ngFor="let err of validationErrors">{{ err }}</li>
  </ul>
</div>
