<div class="col h-100">
  <div class="card h-100 shadow-sm">
    <a routerLink="/shop/{{ product.id }}">
      <img
        [src]="product.pictureUrl"
        alt="{{ product.name }}"
        class="img-fluid"
      />
    </a>

    <div class="card-body d-flex flex-column">
      <a routerLink="/shop/{{ product.id }}">
        <h6 class="text-uppercase">{{ product.name }}</h6>
      </a>
      <span class="mb-2">{{ product.price | currency }}</span>
      <div class="btn-group mt-auto">
        <button
          type="button"
          class="btn btn-outline-secondary"
          title="add to cart"
          (click)="addItemToBasket()"
        >
          <i class="bi bi-cart-plus-fill fs-18"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          routerLink="/shop/{{ product.id }}"
        >
          view
        </button>
      </div>
    </div>
  </div>
</div>
