.logo {
  max-height: 60px;
}

.cart-counter {
  background: var(--bs-secondary);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  left: -10px;
}


.active {
  font-weight: 600;
  color: var(--bs-primary);
  transition: color 0.3s ease;
}

.fixed-t {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}
