<div
  class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-t navbar-container"
>
  <nav class="navbar navbar-expand-lg col d-flex flex-row align-items-center">
    <div class="container-fluid d-flex align-items-between">
      <a lass="navbar-brand">
        <img src="assets/images/logo.png" alt="logo" class="logo" />
      </a>
      <div class="d-lg-flex justify-content-center text-uppercase w-50">
        <div class="mx-4 d-flex justify-content-center w-100">
          <a
            class="mx-2 nav-link fs-18"
            routerLink="/"
            (click)="activeLink = 'home'"
            [class.active]="activeLink == 'home'"
            >Home</a
          >
          <a
            class="mx-2 nav-link fs-18"
            routerLink="/shop"
            (click)="activeLink = 'shop'"
            [class.active]="activeLink == 'shop'"
            >Shop</a
          >
          <a
            class="mx-2 nav-link fs-18"
            routerLink="/error"
            (click)="activeLink = 'contact'"
            [class.active]="activeLink == 'contact'"
            >Contact</a
          >
        </div>
      </div>
      <div class="d-flex aling-items-center">
        <button
          class="btn btn-primary mx-1 position-relative"
          routerLink="/basket"
        >
          <i class="bi bi-cart-fill"></i>
          <span
            *ngIf="basket$ | async as basket"
            class="cart-counter position-absolute"
            >{{ basket.items.length }}</span
          >
        </button>
        <button class="btn btn-outline-secondary mx-1">login</button>
        <button class="btn btn-outline-secondary mx-2">Sign Up</button>
      </div>
    </div>
  </nav>
</div>
