[data-bs-theme=light] {
  &.theme-indigo {
    --bs-primary: #6610f2;
    --bs-primary-rgb: 102, 16, 242;
    --bs-primary-text: #5a0ed5;
    --bs-primary-bg-subtle: #8b9dff;
    --bs-primary-border-subtle: #5c00f1;
    --bs-body-bg: #f1eff9;

  }

  &.theme-purple {
    --bs-primary: #6f42c1;
    --bs-primary-rgb: 111, 66, 193;
    --bs-primary-text: #623aaa;
    --bs-primary-bg-subtle: #e908d8;
    --bs-primary-border-subtle: #5a2ab3;
    --bs-body-bg: #fff5fc;
  }

  &.theme-pink {
    --bs-primary: #d63384;
    --bs-primary-rgb: 214, 51, 132;
    --bs-primary-text: #bc2d74;
    --bs-primary-bg-subtle: #ff71c3;
    --bs-primary-border-subtle: #e80075;
    --bs-body-bg: #f4f8ff;
  }

  &.theme-red {
    --bs-primary: #f73563;
    --bs-primary-rgb: 247, 53, 99;
    --bs-primary-text: #d92f57;
    --bs-primary-bg-subtle: #ffc699;
    --bs-primary-border-subtle: #ff5d83;
    --bs-body-bg: #fffbf2;
  }

  &.theme-orange {
    --bs-primary: #fd7e14;
    --bs-primary-rgb: 253, 126, 20;
    --bs-primary-text: #df6f12;
    --bs-primary-bg-subtle: #ffda6b;
    --bs-primary-border-subtle: #ff7c15;
    --bs-body-bg: #fffaf4;
  }

  &.theme-yellow {
    --bs-primary: #ffbd17;
    --bs-primary-rgb: 255, 189, 23;
    --bs-primary-text: #e0a614;
    --bs-primary-bg-subtle: #ffdb6f;
    --bs-primary-border-subtle: #f0ac00;
    --bs-body-bg: #f9f4ef;
  }

  &.theme-green {
    --bs-primary: #00dfa3;
    --bs-primary-rgb: 0, 223, 163;
    --bs-primary-text: #00c48f;
    --bs-primary-bg-subtle: #bdffaa;
    --bs-primary-border-subtle: #04c5de;
    --bs-body-bg: #eff6f9;

  }

  &.theme-teal {
    --bs-primary: #0ab2be;
    --bs-primary-rgb: 10, 178, 190;
    --bs-primary-text: #099da7;
    --bs-primary-bg-subtle: #a2fffa;
    --bs-primary-border-subtle: #00a2ad;
    --bs-body-bg: #fff7fd;
  }

  &.theme-cyan {
    --bs-primary: #0dcaf0;
    --bs-primary-rgb: 13, 202, 240;
    --bs-primary-text: #0bb2d3;
    --bs-primary-bg-subtle: #74e5fb;
    --bs-primary-border-subtle: #258cd6;
    --bs-body-bg: #f1eff9;
  }
}

[data-bs-theme=dark] {
  &.theme-indigo {
    --bs-primary: #6610f2;
    --bs-primary-rgb: 102, 16, 242;
    --bs-primary-text: #5a0ed5;
    --bs-primary-bg-subtle: #8b9dff;
    --bs-primary-border-subtle: #5c00f1;
    --bs-body-bg: #f1eff9;

  }

  &.theme-purple {
    --bs-primary: #6f42c1;
    --bs-primary-rgb: 111, 66, 193;
    --bs-primary-text: #623aaa;
    --bs-primary-bg-subtle: #e908d8;
    --bs-primary-border-subtle: #5a2ab3;
    --bs-body-bg: #fff5fc;

  }

  &.theme-pink {
    --bs-primary: #d63384;
    --bs-primary-rgb: 214, 51, 132;
    --bs-primary-text: #bc2d74;
    --bs-primary-bg-subtle: #ff71c3;
    --bs-primary-border-subtle: #e80075;
    --bs-body-bg: #f4f8ff;
  }

  &.theme-red {
    --bs-primary: #f73563;
    --bs-primary-rgb: 247, 53, 99;
    --bs-primary-text: #d92f57;
    --bs-primary-bg-subtle: #ffc699;
    --bs-primary-border-subtle: #ff5d83;
    --bs-body-bg: #fffbf2;
  }

  &.theme-orange {
    --bs-primary: #fd7e14;
    --bs-primary-rgb: 253, 126, 20;
    --bs-primary-text: #df6f12;
    --bs-primary-bg-subtle: #ffda6b;
    --bs-primary-border-subtle: #ff7c15;
    --bs-body-bg: #fffaf4;
  }

  &.theme-yellow {
    --bs-primary: #ffbd17;
    --bs-primary-rgb: 255, 189, 23;
    --bs-primary-text: #e0a614;
    --bs-primary-bg-subtle: #ffdb6f;
    --bs-primary-border-subtle: #f0ac00;
    --bs-body-bg: #f9f4ef;
  }

  &.theme-green {
    --bs-primary: #00dfa3;
    --bs-primary-rgb: 0, 223, 163;
    --bs-primary-text: #00c48f;
    --bs-primary-bg-subtle: #bdffaa;
    --bs-primary-border-subtle: #04c5de;

    body {
      // --bs-body-bg:  #{shade-color(--bs-primary, 10%)};
    }
  }

  &.theme-teal {
    --bs-primary: #0ab2be;
    --bs-primary-rgb: 10, 178, 190;
    --bs-primary-text: #099da7;
    --bs-primary-bg-subtle: #a2fffa;
    --bs-primary-border-subtle: #00a2ad;
    --bs-body-bg: #fff7fd;
  }

  &.theme-cyan {
    --bs-primary: #0dcaf0;
    --bs-primary-rgb: 13, 202, 240;
    --bs-primary-text: #0bb2d3;
    --bs-primary-bg-subtle: #74e5fb;
    --bs-primary-border-subtle: #258cd6;
    --bs-body-bg: #f1eff9;

  }
}
